<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.amfit">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AmFit">
        <activity android:name=".thigh"></activity>
        <activity android:name=".butt" />
        <activity android:name=".shoulders" />
        <activity android:name=".legs" />
        <activity android:name=".abs" />
        <activity android:name=".arm" />
        <activity android:name=".chest" />
        <activity android:name=".pother" />
        <activity android:name=".pdairy" />
        <activity android:name=".plegumes" />
        <activity android:name=".pfruits" />
        <activity android:name=".pvegetables" />
        <activity android:name=".pregnant_women" />
        <activity android:name=".dbother" />
        <activity android:name=".dbdairy" />
        <activity android:name=".dblegumes" />
        <activity android:name=".dbfruits" />
        <activity android:name=".dbvegetables" />
        <activity android:name=".diabetics" />
        <activity android:name=".dloose_weight" />
        <activity android:name=".lbp_other" />
        <activity android:name=".lbp_dairy" />
        <activity android:name=".lbp_legumes" />
        <activity android:name=".lbp_fruits" />
        <activity android:name=".lbp_vegetables" />
        <activity android:name=".low_bp" />
        <activity android:name=".hbp_other" />
        <activity android:name=".hbp_dairy" />
        <activity android:name=".hbp_legumes" />
        <activity android:name=".hbp_fruits" />
        <activity android:name=".hbp_vegetables" />
        <activity android:name=".high_bp" />
        <activity android:name=".dother" />
        <activity android:name=".ddairy" />
        <activity android:name=".dlegumes" />
        <activity android:name=".dfruits" />
        <activity android:name=".dvegetables" />
        <activity android:name=".dgain_weight" />
        <activity android:name=".lother" />
        <activity android:name=".ldairy" />
        <activity android:name=".passforgot" />
        <activity android:name=".bottomnavigation" />
        <activity android:name=".MainActivity22" />
        <activity android:name=".wwa" />
        <activity android:name=".wwi" />
        <activity android:name=".wwb" />
        <activity android:name=".wma" />
        <activity android:name=".wmi" />
        <activity android:name=".wmb" />
        <activity android:name=".workoutact4" />
        <activity android:name=".workoutact3" />
        <activity android:name=".workoutmain2" />
        <activity android:name=".workoutmain" />
        <activity android:name=".Specials" />
        <activity android:name=".llegumes" />
        <activity android:name=".Jumping_jacks" />
        <activity android:name=".Crunches" />
        <activity android:name=".High_knees" />
        <activity android:name=".PLANK" />
        <activity android:name=".Skipping_ropes" />
        <activity android:name=".Push_ups" />
        <activity android:name=".Walking_and_Running" />
        <activity android:name=".Lunges" />
        <activity android:name=".Wall_sit" />
        <activity android:name=".Squats" />
        <activity android:name=".Step_up_onto_chair" />
        <activity android:name=".Leg_raises" />
        <activity android:name=".Mountain_climber" />
        <activity android:name=".Cobra_stretch" />
        <activity android:name=".Shoulder_taps" />
        <activity android:name=".Glute_bridge" />
        <activity android:name=".llegumes" />
        <activity android:name=".lnuts" />
        <activity android:name=".lfruits" />
        <activity android:name=".lvegetables" />
        <activity android:name=".Diet" />
        <activity android:name=".covid" />
        <activity android:name=".yoga" />
        <activity android:name=".copingskills" />
        <activity android:name=".medit" />
        <activity android:name=".depress" />
        <activity android:name=".stressanx" />
        <activity android:name=".gmhtips" />
        <activity android:name=".gmh" />
        <activity android:name=".MainActivity2" />
        <activity android:name=".phonelogin" />
        <activity android:name=".contents" />
        <activity android:name=".AmFit">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login"
            android:label="@string/title_activity_login" />
        <activity android:name=".MainActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>